@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #002;
    padding: 0 50px;
    margin-top: 2rem;
    font-family: 'Poppins', sans-serif;
}

@media(max-width: 768px){

    body{
        margin-top: 2rem;       
        padding: 0 20px;
    }

}


@media(max-width: 425px){

    body{
        margin-top: 2rem;       
        padding: 0 20px;
    }

}